# executables
*.exe
*.out

# bat and batch files
*.bat
*.sh

# logs
*log.txt

# temporary results
.progress*
temp_gnuplot/*
temp_data/*
temp_graphs/*

# exclude folders themselves
!temp_gnuplot/.gitkeep
!temp_data/.gitkeep
!temp_graphs/.gitkeep

# exclude results
!results/*
