# executables
*.exe
*.out

# bat and batch files
*.bat
*.sh

# logs
*log.txt

# results
*.png
gnuplot/*
data/*
graphs/*

# exclude folders for results
!gnuplot/.gitkeep
!data/.gitkeep
!graphs/.gitkeep
